{% extends 'base.html' %}
{% block title%}home{% endblock title%}
{% block content%}

<h2>All Dishes</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for dish in dishesh %}
    <div>
        <div class="col">
            <div class="card h-100">
                <a href="{{dish.id}}">
                    <h5 class="card-header">{{dish.name}}</h5>
                    <img src={{dish.image.url}} class="card-img-top" alt="..." />
                </a>
                <div class="card-body">
                    <p class="card-text">{{dish.dic|truncatechars:40}}</p>
                </div>
                <div class="card-footer text-muted">
                    {{dish.prize}} Rs.
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- <br><br>

{% if user.is_authenticated %}
happy to see you
{% else %}
please <a href="auth/signin">signin </a>here
{% endif %} 
-->
{% endblock content%}